body {

scroll-behavior: smooth;
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Playfair Display', serif;


.place_spacing {

  margin-bottom: 8rem;
}

.mini_space {

// margin-bottom: 5rem;
margin-top: 7rem;

}

.hero_banner {

  height: 30rem;

  .hero_title {

    font-family: 'Playfair Display', serif;

     }


}

.jumbotron {

  background-color: none;

}

.site_nav_title {
  font-family: 'Playfair Display', serif;


}

.background_img_1 {

  background-size: cover;
  background-image: url(../img/middleton.jpg);
  height: 35rem;
  width: 100%;

}

.background_img_2 {

  background-size: cover;
  background-image: url(../img/rainbow_road.jpg);
  height: 35rem;
  width: 100%;

}

.background_img_3 {

  background-size: cover;
  background-image: url(../img/Nat_Russel.jpg);
  height: 35rem;
  width: 100%;

}

.background_img_4 {

  background-size: cover;
  background-image: url(../img/aquarium_hero.jpg);
  height: 35rem;
  width: 100%;

}

.background_img_5 {

  background-size: cover;
  background-image: url(../img/);
  height: 35rem;
  width: 100%;

}

.background_img_6 {

  background-size: cover;
  background-image: url(../img/);
  height: 35rem;
  width: 100%;

}

.background_img_7 {

  background-size: cover;
  background-image: url(../img/);
  height: 35rem;
  width: 100%;

}


.background_img_8 {

  background-size: cover;
  background-image: url(../img/);
  height: 35rem;
  width: 100%;

}

.background_img_9 {

  background-size: cover;
  background-image: url(../img/);
  height: 35rem;
  width: 100%;

}
