body {

scroll-behavior: smooth;
}


.place_spacing {

  margin-bottom: 8rem;
}

.mini_space {

// margin-bottom: 5rem;
margin-top: 4rem;

}

.hero_banner {

  height: 30rem;

}

.jumbotron {

  background-color: none;

}

.background_img_1 {

  background-size: cover;
  background-image: url(../img/middleton.jpg);
  height: 35rem;
  width: 100%;

}

.background_img_2 {

  background-size: cover;
  background-image: url(../img/);
  height: 35rem;
  width: 100%;

}

.background_img_3 {

  background-size: cover;
  background-image: url(../img/);
  height: 35rem;
  width: 100%;

}

.background_img_4 {

  background-size: cover;
  background-image: url(../img/);
  height: 35rem;
  width: 100%;

}

.background_img_5 {

  background-size: cover;
  background-image: url(../img/);
  height: 35rem;
  width: 100%;

}

.background_img_6 {

  background-size: cover;
  background-image: url(../img/);
  height: 35rem;
  width: 100%;

}

.background_img_7 {

  background-size: cover;
  background-image: url(../img/);
  height: 35rem;
  width: 100%;

}


.background_img_8 {

  background-size: cover;
  background-image: url(../img/);
  height: 35rem;
  width: 100%;

}

.background_img_9 {

  background-size: cover;
  background-image: url(../img/);
  height: 35rem;
  width: 100%;

}
